.endIcon {
    background-repeat: no-repeat;
    background-position: right;
}

.startIcon {
    background-repeat: no-repeat;
    background-position: 0.5rem;
}

.mobile {
    background-image: url(./icons/mobile.svg);
}

.thumbup {
    background-image: url(./icons/thumb-up.svg);
}

.phoneoutgoing {
    background-image: url(./icons/phone-outgoing.svg);
}

.lockclosed {
    background-image: url(./icons/lock-closed.svg);
}

.mail {
    background-image: url(./icons/mail.svg);
}